p {
  -webkit-margin-before: 0.2em;
  -webkit-margin-after: 0.2em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

body {
  font-family: Arial, sans-serif;
}

#animationTimeline {
  position: fixed;
  width: 100%;
  height: 250px;
  left:0;
  bottom: 0;
  background-color: rgb(63, 57, 68);
  -webkit-transform: translate(0,225px);
      -ms-transform: translate(0,225px);
          transform: translate(0,225px);
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

#animationTimeline .close {
  position: absolute;
  top: 2%;
  right: 1%;
  color: rgb(189, 178, 200);
  width: 15px;
  height: 15px;
  text-align: center;
  border-radius: 15px;
  outline: none;
  border: none;
  background-color: rgb(35, 27, 42);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

.animatedElement {
  display: block;
  width: 100%;
  height: 42px;
  border-bottom: 1px solid rgb(73, 62, 82);
  background-color: rgb(57, 50, 61);
  -webkit-transition: height 0.3s ease-in-out;
          transition: height 0.3s ease-in-out;
}

.animatedElement:first-of-type {
  margin-top: 35px;
}

.animatedElement .animationTitle {
  display: inline-block;
  position: relative;
  overflow: hidden;
  vertical-align: top;
  width: 20%;
  height: 100%;
  font-size: 1.2em;
  background-color: rgb(33, 26, 37);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.animationTitle p {
  margin-left: 5%;
  margin-top: 2%;
  color: rgb(194, 194, 194);
}

.animationTitle .toggleParameters {
  position: absolute;
  right: 10%;
  top: 0;
  color: rgb(79, 73, 83);
  cursor: pointer;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.animationTitle .confBox {
  display: table;
  width: 100%;
  font-size: 0.6em;
  color: rgb(150, 144, 144);
  margin: -18px 9px;
}

.confBox .confContainer {
  display: table-row;
  width: 100%;
}

.confBox label {
  display: table-cell;
  width: 35%;
  text-align: left;
}

.confBox input, .confBox select {
  /*display: inline-block;*/
  display: table-cell;
  width: 65%;
  background-color: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid rgb(190, 187, 196);
  outline: none;
  color: white;
  text-align: right;
}

.confBox select option {
  background: rgb(33, 26, 37);
}

.animatedElement .time {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width:80%;
  height: 100%;
}

.time .key {
  position: absolute;
  top: 35%;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(96, 84, 106);
  border: 1px solid rgb(33, 26, 37);
}

.paramsBox {
  position: absolute;
  width: 150px;
  height: 200px;
  background-color: rgb(246, 246, 246);
  border: 1px solid rgb(33, 26, 37);
}

.paramsBox .createParams {
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  font-size: 34px;
  text-align:center;
  border: 2px solid rgb(59, 186, 102);
  color: rgb(59, 186, 102);
  cursor: pointer;
}

.paramsBox .removeParams {
  position: absolute;
  bottom: 2%;
  right: 24%;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  font-size: 44px;
  text-align:center;
  border: 2px solid rgb(191, 51, 47);
  color: rgb(191, 51, 47);
  cursor: pointer;
}

.paramsBox .applyParams {
  position: absolute;
  bottom: 2%;
  left: 2%;
  width: auto;
  height: 25px;
  font-size: 16px;
  text-align:center;
  padding: 0px 7px;
  border: 2px solid rgb(47, 109, 191);
  color: rgb(47, 109, 191);
  cursor: pointer;
}

.paramsBox .createParams p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -66%);
      -ms-transform: translate(-50%, -66%);
          transform: translate(-50%, -66%);
}

.paramsBox .removeParams p {
  position: absolute;
  top: 33%;
  left: 50%;
  -webkit-transform: translate(-50%, -66%);
      -ms-transform: translate(-50%, -66%);
          transform: translate(-50%, -66%);
}

.paramsBox input,.paramsBox select {
  display: block;
  background-color: transparent;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid rgb(190, 187, 196);
  color: rgb(86, 73, 89);
}

.paramsBox input {
  width: 95%;
}

.paramsBox input:focus,.paramsBox select:focus {
  border-bottom: 2px solid rgb(190, 187, 196);
  outline: none;
}
