#Workspace {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%, -50%);
    border : 1px solid lightgrey;
}
#addElement {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    font-size: 2.2em;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 2em;
    background-color: rgb(44, 135, 194);
    cursor: pointer;
    z-index: 11;
}

#addElement p {
    margin:0 -1px;
}

.DOMElement {
    min-width: 2em;
    min-height: 2em;
    border: 1px solid lightgrey;
}